body {
  font-family: Arial, sans-serif;
  margin: 20px 100px; 
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 800px;
  padding: 20px;
}

.heading{
  text-align:center;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}

.employee-list,
.employee-details {
  flex: 1;
  padding: 10px;
}

.employee-list {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 10px;
  max-height: 400px;
  overflow: auto;
}

.employee-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.employee-list li {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-details {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 400px;
  overflow: auto;
}

.employee-details p {
  margin: 10px 0;
}

.button-container {
  text-align: right;
  margin-top: 20px;
}


.button-container button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #0056b3;
}
